<!DOCTYPE html>
<html>

<head>
  <title>Title of the document</title>
</head>

<body>
  <!-- Vue Element -->
  <div id="vue-main">
    <h1>List from Ajax</h1>
    <ol v-if="posts">
      <li v-for="(post, index) in posts">
        {{post.title}}
      </li>
    </ol>
    <span v-else>Loading ajax information..!!!</span>
    <hr> 
    Show data variable information:
    <pre>{{$data}}</pre>  
  </div>
  <!-- Scripts Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>